td {
    text-align: start;
    padding: 16px 0;
}
.th-Order {
    text-align: start;
    padding: 16px 0 24px 0;
}
.Completed ,
.Preparing,
.Pending,
.Shipping{
    background-color: #FF99AA;
    color: rgb(242, 242, 247);
}
.Order:focus{
    background-color: #ffcc99;
}
table { border-collapse: separate; }
.Order:nth-child(even){
    background-color: #ffe6cc;
}
.Order:nth-child(even):focus{
    background-color: #ffcc99;
}
/* tr:first-child ,td:first-child { border-top-left-radius: 25px; }
tr:first-child ,td:last-child { border-top-right-radius: 25px; }
tr:last-child ,td:first-child { border-bottom-left-radius: 25px; }
tr:last-child, td:last-child { border-bottom-right-radius: 25px; } */
