*{
    font-family: 'Poppins', sans-serif;
}
.card{
    position: relative;
    display: block;
}
.card-content{
    
    padding: 24px;
    background-color: #ffff;
    
    width: 226px;
    height: 189px;
    left: 0;
    right: 0;
    border-radius: 24px;

}
.card-content-top{
    margin: 0px 2px;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;

    line-height: 22.75px;
    letter-spacing: 0.02em;
    color: #EA6A12;
    width: 130px;
    height: 23px;

    left: 16px;
    top: 0;
    


}
.card-content-title{
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #07143B;

    width: 199px;
    height: 28px;
    left: 0;
    top: 39px;
    margin: 16px 0;   
}
.card-content-cal, .card-content-person{
    width: auto;
    height: 23px;
    left: 0;right: 0;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;

    letter-spacing: 0.02em;
    color: #959895;
    margin: 8px 0;


}
.card-content-person{
    top: 39px;
}

.cost{
    width: auto;
    height: 28px;
    left: 0;right: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;

    letter-spacing: 0.02em;
    color: #EA6A12;
    margin: 0px 28px 0px 0px;
    display: inline-block;

}
.add{
    border: none;
    border-radius: 16px;
    background-color: #EA6A12;
    color: rgb(255, 255, 255);

    width: 24px;height: 24px;
    left: 74px;
    top: 2px;
}

#thumbnail1{
    --height: 140px;
    position: absolute;
    border-radius: 50%;
    width: var(--height);
    height: var(--height);
    
    left: calc( 274px - calc(var(--height) / 2));
    top: calc(calc(237px - var(--height) ) / 2);

    box-shadow: -5px 0px 20px rgb(192, 187, 187)
    
}