.TrendingOrder{
    background-color: rgba(255, 246, 216, 0.34) ;
    width: 1099px;
    height: 654px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border:  2px solid gray;  */
}
.Trending-title{
    width: 1099px;
    height: 100px;
    padding: 24px; 

}
.Trending-top{
    width: 1051px;
    height: 52px;
    margin-right: 0;
      
    
}
.Trending-top > h2{
    margin: 0;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 130%;
}
.view-all{
    display: inline-block;
    margin-left: 650px;
   
}
.view-all > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    
}
.view-all > p >i {
    
    color: #EA6A12;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: -103px;
}
.card{
    margin-left: 103px;
    margin-bottom: 40px;
}